body {
	background-image: url("http://image.toutlecine.com/photos/a/l/i/alien-53-g.jpg");
}
h1 {
	font-family: 'Orbitron', sans-serif;
	color: white;
	text-align: center;
}
h2 {
	font-family: 'Orbitron', sans-serif;
	color: white;
	text-align: center;
}

#status .o, #status .x {
	display: none;
}

#pick_players span {
	color: red;
	cursor: pointer;
}

#pick_players span:hover {
	color: white;
	 text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;

}

#ai_protection_shield {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9000;
	background-color: rgba(255, 0, 0, 0.33);
	display: none;
}

#current_move {
	display: none;
}

td {
	width: 180px;	 
	height: 180px;
	border: 2px solid white;
	color: white;
	font-size: 4em;
	text-align: left;
	font-family: sans-serif;
}
table {
	margin: 0 auto;
}
td.x {
	background-image: url("http://www.actionmoviefreak.com/images/Alien/alien-ripley-flamethrower.jpg");
	margin: 0 auto;
}
td.o {
	background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQzQ439m59aQ4PI6bRMo5LMpKRlRIrdongi4navWR0PPJC-J15F");
}

.gif1 {
	margin: 0 auto;
	text-align: center;

}

.overlay1 {
	background-color: rgba(0,0,0,0.5);
	font-family: sans-serif;
	z-index: 100;
	position: absolute;
	top: 0;
	width:100%;
	height: 100%;
	display: none;
	color: white;
}

.overlay_content1 {
	margin-top: 25%;
}

.gif2 {
	margin: 0 auto;
	text-align: center;

}

.overlay2 {
	background-color: rgba(0,0,0,0.5);
	font-family: sans-serif;
	z-index: 100;
	position: absolute;
	top: 0;
	width:100%;
	height: 100%;
	display: none;
	color: white;
}

.overlay_content2 {
	margin-top: 25%;
}

.gif3 {
	margin: 0 auto;
	text-align: center;

}

.overlay3 {
	background-color: rgba(0,0,0,0.5);
	font-family: sans-serif;
	z-index: 100;
	position: absolute;
	top: 0;
	width:100%;
	height: 100%;
	display: none;
	color: white;
}

.overlay_content3 {
	margin-top: 25%;
}